@import "tailwindcss";

.custom-slider-container .swiper-pagination {
  bottom: 25px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  width: 100% !important;
  left: 0 !important;
}

.custom-slider-container .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer !important;
  margin: 0 !important;
}

.custom-slider-container .swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.custom-slider-container .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  width: 32px !important;
  border-radius: 6px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.thumbnail-swiper .swiper-slide-thumb-active {
  transform: scale(1.05);
}

.thumbnail-swiper .swiper-slide-thumb-active > div {
  border-color: #059669;
  box-shadow:
    0 0 0 1px #059669,
    0 10px 25px rgba(5, 150, 105, 0.15);
}

.swiper-button-next,
.swiper-button-prev {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
  color: #111827;
}
